<div class="mat-mdc-dialog-surface mdc-dialog__surface" data-testid="custom-dialog">
    
    <div class="modal">
        
        <div class="container">
            <p id="X" (click)="closeX()">X</p>
            
            <label for="name">Name :</label>
            <input id="name" type="text">
            <label for="name">email:</label>
            <input id="email" type="text">
            
            <button type="submit" id="submit" (click)="sub()">OK !</button>
            
            
            
        </div>
    </div>
</div>
